@import url("../assets/WEB/css/clash-display.css");

header {
  max-width: 1292.5px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 160px;
  margin: 35px auto 0 auto;
  transition: 0.3s ease-in-out;
}

.logo {
  max-width: 181.5px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  z-index: 11;
  width: 40.5px;
  height: 40px;
  background: url("../assets/icon.png");
  margin-right: 18;
  display: flex;
  background-position: center;
  background-size: cover;
}

.logo-title {
  font-family: "ClashDisplay-Bold";
  color: #ffffff;
  font-size: 24px;
  line-height: 30px;
}

.nav-bar {
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 951px;
  gap: 113px;
}

.nav-default-actions {
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 57px;

  width: 599px;
  height: 22px;
}

.nav-account-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;

  width: 239px;
  height: 100%;
}

.nav-item a:not(.register) {
  color: #ffffff;
  text-decoration: none;
  white-space: nowrap;
  font-size: 18px;
  height: 22px;
  font-family: "ClashDisplay-Medium";
}

.register {
  padding: 14px 38px;
  color: #000000;
  text-decoration: none;
  white-space: nowrap;
  font-size: 18px;
  height: 22px;
  font-family: "ClashDisplay-Medium";
  background-color: #ffffff;
  border-radius: 35px;
  width: 151px;
  height: 50px;
}

.nav-item {
  list-style: none;
}

/* hamburguer menu start */
.hamburguer {
  display: none;
  cursor: pointer;
  z-index: 11;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: rgb(255, 255, 255);
}
/* hamburguer menu end */

/* header end */

@media (max-width: 1275px) {
  .nav-default-actions {
    gap: 20px;
    width: fit-content;
  }

  .nav-bar {
    gap: 50px;
    width: fit-content;
  }

  header {
    gap: 70px;
    width: fit-content;
  }
}

/* header mobile */
@media (max-width: 1000px) {
  header {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    position: fixed;
    justify-content: space-between;
    z-index: 11;
  }
  .logo-title {
    display: none;
  }
  .logo {
    width: fit-content;
  }
  /* .nav-header {
    display: none;
  } */

  .nav-bar {
    position: fixed;
    left: 0;
    top: -385px;
    /* top: 0; */
    flex-direction: column;
    width: 100%;
    height: 385px;
    padding: 75px;
    transition: 0.3s;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #ffffff;
    z-index: 10;
  }

  .nav-default-actions {
    gap: 10px;
    align-items: center;
    width: 80%;
    flex-direction: column;
    height: fit-content;
  }

  .nav-account-actions {
    gap: 20px;
    align-items: center;
    width: 80%;

    flex-direction: column;
  }

  .register {
    background-color: #000000;
    color: #ffffff;
  }

  .nav-item a:not(.register) {
    color: #000000;
  }

  .hamburguer {
    display: block;
  }
  .hamburguer.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburguer.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburguer.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-bar.active {
    top: 0;
  }

  .bar.active {
    background-color: #000000;
  }
}
